[Unit]
Description=Resize filesystem on CFG_PART_BOOT_RESIZE_DISKCFG_PART_BOOT_RESIZE_NUMBER to fit available space
DefaultDependencies=no
Before=network-online.target
Before=sysinit.target
#Before=home.mount
#Before=systemd-fsck@dev-disk-by\x2dlabel-home.service
Before=local-fs-pre.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "growpart CFG_PART_BOOT_RESIZE_DISK CFG_PART_BOOT_RESIZE_NUMBER || true"
RemainAfterExit=yes
TimeoutSec=0
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
